body {
	background-color: #F2F2F2;
	margin: 0px 0px 0px 0px;
}

@keyframes bgmove {
	from {
		background-position: 0px 0px;
	}
	to {
		background-position: 1600px 646.4px; 
	}
}

body.fullbackground {
	background-image: url('./resources/Artboard 1.png');
	background-size: 800px auto;
	background-repeat: repeat repeat;
	background-position: 0px 0px;
	animation: bgmove 100s infinite linear;
	-webkit-animation: bgmove 100s infinite linear;
}

@media screen and (min-width: 770px), (max-height: 400px) {
	nav {
		position: fixed;
		height: 100%;
		width: 265px;
		top: 0px;
		left: 0px;
	}
	.navbarbackgrond {
		left: 0px;
		top:0px;
		transform-origin: top left;
		transform: skewX(-7deg);
		-ms-transform: skewX(-7deg);
		-webkit-transform: skewX(-7deg);
		background-color: black;
		height: 100%;
		box-shadow: 2px 2px 7px rgba(0,0,0,0.2);
	}
	.navbarlogo{
		position: fixed;
		top: 0px;
		left: 0px;
		margin-left: 30px;
		margin-top: 25px;
	}
	.navbarcontent{
		position: fixed;
		top: 65px;
		left: 65px;
	}
	.secondarynavbarbackground {
		position: fixed;
		background-color: black;
		left: 0px;
		top: 0px;
		height: 50%;
		width: 100px;
	}
	article {
		margin-left: 240px;
		margin-right: 120px;
		padding-left: 50px;
		margin-top: 120px;
	}
	header {
		position: fixed;
		background-color: #F2F2F2;
		margin-left: 290px;
		padding-left: 0px;
		padding-top: 25px;
		top: 0px;
		width: 100%;
	}
	.bottomright {
		position: fixed;
		bottom: 0px;
		right: -70px;
		transform: skewX(-7deg);
		background-color: black;
		height: 500px;
		width: 100px;
		z-index: 3;
	}
	.sidebar1 {
		position: fixed;
		background-color: grey;
		color: black;
		-webkit-transform-origin: bottom left;	
		transform-origin: bottom left;
		transform: rotate(277deg);
		width: 700px;
		bottom: -6px;
		right: -639px;
		z-index: 2;
		box-shadow: 2px 2px 7px rgba(0,0,0,0.2);
	}
	
	.sidebar2 {
		position: fixed;
		background-color: lightgrey;
		color: black;
		-webkit-transform-origin: bottom left;	
		transform-origin: bottom left;
		transform: rotate(277deg);
		width: 1000px;
		bottom: -6px;
		right: -917px;
		z-index: 1;
		box-shadow: 2px 2px 7px rgba(0,0,0,0.3);
	}
	h5 {
		letter-spacing: 40px;
	}
	img.navbarlogo {
		width: 200px;
	}
	.centeritem {
		margin: auto auto;
		text-align: center;
	}	
}

@media screen and (max-width: 770px) and (min-height: 400px) {
	.bottomright {
	position: fixed;
	bottom: 0px;
	right: -70px;
	transform: skewX(-7deg);
	background-color: black;
	height: 500px;
	width: 100px;
	z-index: 3;
}
	nav {
		position: fixed;
		height: 200px;
		width: 100%;
		top: 0px;
		left: 0px;
		text-align: left;
	}
	.navbarbackgrond {
		left: 0px;
		top: 0px;
		background-color: black;
		height: 200px;
		width: 100%;
		position: fixed;
		transform: skewY(-4deg);
		transform-origin: top left;
		z-index: -1;
	}
	.navbarcontent {
		display: inline-block;
		margin-left: 40px;
		margin-top: 40px;
	}
	article {
		margin-left: 20px;
		margin-right: 20px;
		padding-left: 25px;
		margin-top: 20px;
	}
	header {
		background-color: #F2F2F2;
		margin-left: 25px;
		padding-left: 20px;
		margin-top: 200px;
		padding-top: 25px;
		top: 0px;
		width: 100%;
		z-index: -1;
	}
	.navbarlogo {
		position: fixed;
		right: 25px;
		top: 25px;
		margin-top: 25px;
		z-index: 5;
	}
	.bottomright {
		position: fixed;
		bottom: -35px;
		right: 0px;
		transform: skewY(-4deg);
		background-color: black;
		height: 60px;
		width: 100%;
		z-index: 3;
	}
	.sidebar1 {
		position: fixed;
		background-color: grey;
		color: black;
		-webkit-transform-origin: bottom left;	
		transform-origin: bottom left;
		transform: rotate(-4deg);
		width: 900px;
		bottom: -5px;
		left: 0px;
		z-index: 4;
		box-shadow: 2px 2px 7px rgba(0,0,0,0.2);
	}
	.sidebar2 {
		position: fixed;
		background-color: lightgrey;
		color: black;
		-webkit-transform-origin: bottom left;	
		transform-origin: bottom left;
		transform: rotate(-4deg);
		width: 900px;
		bottom: 16px;
		left: 0px;
		z-index: 1;
		box-shadow: 2px 2px 7px rgba(0,0,0,0.3);
	}
	h5 {
		letter-spacing: 7vw;
	}
	img.navbarlogo {
		width: 50px;
	}
	.centeritem {
		margin-top: 210px;
		text-align: center;
	}	
}

h1 {
	font-family: 'IBM Plex Sans', 'helvetica', sans-serif;
	font-size: 30px;
	margin-top: 0em;
	margin-bottom: 0.5em;
}

h2 {
	font-family: 'IBM Plex Sans', 'helvetica', sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: 20px;
	margin-top: 0em;
}

h6.contacth6 {
	margin-left: 30px;
	font-family: 'IBM Plex Sans', 'helvetica', sans-serif;
	font-size: 15px;
	transform: skewX(7deg);
}

h6 {
	font-family: 'IBM Plex Sans', 'helvetica', sans-serif;
	font-size: 15px;
	margin: 0em;
}

p {
	font-family: 'IBM Plex Serif', 'georgia', serif;
	font-size: 15px;
	line-height: 1.4em;
}

.sidebarbutton {
	color: #F2F2F2;
	background-color: black;
	border-color: none;
	text-decoration: none;
	padding: 0.5em;
	display: block;
	border: 0px;
	width: 100px;
	text-align: left;
	transform: skewX(-7deg);
	padding: 0.5em;
}

.sidebarbutton:hover {
	background-color: #F2F2F2;
	color: black;
	transition-duration: 0.5s;
}

.bodybutton {
	color: black;
	background-color: #F2F2F2;
	border-color: none;
	text-decoration: none;
	padding: 0.5em;
	/*display: block;*/
	border: 0px;
	text-align: left;
	vertical-align: center;
	transform: skewX(-7deg);
	padding: 0.5em;
	width: 100%;
}

.bodybutton:hover {
	filter: invert(0.95);
	box-shadow: 2px 2px 7px rgba(0,0,0,1);
	transition-duration: 0.5s;
}

.bodybutton:clicked {
	color: red;
}

a {
	text-decoration: none;
	color: #F2F2F2;
}

h5 {
	font-family: 'IBM Plex Sans', 'helvetica', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 10px;
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 5px;
}

h5.rightside {
	color: #F2F2F2;
}

.mailcontacticon {
	height: 25px;
	position: fixed;
	padding: left;
	margin-top: -3px;
	transform: skewX(7deg);
}

.mailcontacticonalt {
	height: 25px;
	position: fixed;
	padding: left;
	margin-top: -3px;
	transform: skewX(7deg);
	opacity: 0;
	transition-duration: 1s;
}

.phonecontacticon {
	transition-duration: 1s;
	height: 25px;
	position: fixed;
	padding: left;
	margin-top: -4px;
	transform: skewX(7deg);
}

.bodybutton:hover img.phonecontacticon {
	transform: rotate(220deg);
	transition-duration: 0.5s;
}

.bodybutton:hover img.mailcontacticon{
	opacity: 0;
	transition-duration: 0.5s;
}

.bodybutton:hover img.mailcontacticonalt{
	opacity: 1;
	transition-duration: 0.5s;
}

:focus {
	outline: none;
	border-left: 4px solid red;
}

.projectsquare, .projectsquarealt {
	height: 200px;
	width: 200px;
	background-color: #E5E5E5;
	color: black;
	margin: 10px;
	float: left;
	z-index: -2;
	cursor: pointer;
	position: relative;
}

.projectsquare:hover {
	box-shadow: 0px 0px 9px rgba(0,0,0,0.2);
	transition-duration: 0.25s;
}

.projectsquarealt:hover {
	transition-duration: 0.25s;
	cursor: default;
}

.projectsquare h4, .projectsquarealt h4 {
	font-family: 'IBM Plex Sans', 'helvetica', sans-serif;
	font-weight: bold;
	font-size: 14px;
	margin-block-start: 0em;
    margin-block-end: 0.2em;
	margin-left: 10px;
	margin-top: 5px;
	margin-right: 10px;
}

h6.sidebarh6 {
	font-family: 'IBM Plex Sans', 'helvetica', sans-serif;
	font-size: 15px;
	margin: 0em 0em 0em 0em;
	transform: skewX(7deg);
}

.projectsquare h6, .projectsquarealt h6 {
	font-family: 'IBM Plex Sans', 'helvetica', sans-serif;	
	font-weight: 400;
	font-size: 12px;
	margin-left: 10px;
	margin-bottom: 0px;
	margin-right: 10px;
}

.projectsquare img, .projectsquarealt img {
	width: 100%;
}

.errorsidebar {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 230px;
}

.errorsidebar h1 {
	font-size: 64px;
	font-weight: 400;
    margin-block-end: 0.1em;
}

.errorbackground {
	background-image: url(./resources/errorbackground.gif);
	background-repeat: repeat-y;
}

.projectsquareflag {
	position: absolute;
	top: 0;
	opacity: 0; 
	background-color: rgba(0,0,0,0);
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	transition-duration: 0.25s;
	padding: 8px 0;
}

.projectsquare:hover > .projectsquareflag, .projectsquarealt:hover > .projectsquareflag {
	background-color: rgba(255,255,255,0.6);
	color: black;
	opacity: 0.6;
	transition-duration: 0.5s;
}

.projectsquareflag h6 {
	margin-block-start: 0.15em;
	margin-block-end: 0.15em;
}

.projectsquareflag img {
	float: left;
	width: 1.3em;
	height: 1.3em;
	margin-right: 3px;
}

.projectsquaresend {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 35px;
	height: 35px;
	background-color: #E5E5E5;
	border-radius: 0px 0px 0px 10px;
	text-align: center;
}

.projectsquaresend p {
	font-size: 25px;
	line-height: 0em;
	margin-top: 15px;
	margin-left: 0px;
}

.centeritem h6 {
	line-height: 50px;
}

h3 {
	font-family: 'IBM Plex Sans', Helvetica, sans-serif;
	font-size: 25px;
	font-weight: 200;
	margin-top: 8px;
	margin-bottom: 0px;
}

.sidepic {
	width: 50%;
	display: table-cell;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.sidetext {
	position: relative;
	width: 50%;
	display: table-cell;
	padding-right: 15px;
	padding-bottom: 20px;
}

.sidetext p {
	margin-block: 15px;
	margin-right: 15px;
	margin-left: 15px;
}

@media screen and (max-width: 800px) {
	.sidepic, .sidetext {
		display: block;
		width: 100%;
		float: none;
	}

	.sidepic {
		height: 200px;
	}

	.paddingrow {
		border-bottom: 5px black solid;
	}

}

.paddingrow {
	display: table;
}